<div class='menu-btn fa fa-bars' ng-click='toggleMenu()'></div>
<div class='sidemenu-wrapper'>
    <div class='menu-header'>Welcome</div>
    <ul style='margin-top: 10px;'>
        <a href='#/main'>
            <li id='home'>
                <i class="my-icon fa fa-home" aria-hidden="true"></i>
                home
            </li>
        </a>
        <a href='#/adduser'>
            <li id='add'>
                <i class="my-icon fa fa-address-book-o" aria-hidden="true"></i>
                add user
            </li>
        </a>
    </ul>
</div>