html, body {
    background: #fff !important;
    color: #333;
}

ul li {
    list-style: none;
    margin-bottom: 4px;
}

ul li a {
    color: #fff;
}

ul li a:hover,
ul li a:focus,
ul li a:active {
    color: #55DDE0;
    text-decoration: none;
}

.sidemenu-wrapper {
    position: absolute;
    width: 200px;
    margin-left: -200px;
    height: 100%;
    background: #2F4858;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}

.hide-menu {
    margin-left: 0px;
    transition: all 300ms ease-in-out;
}

.menu-btn {
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
    transition: all 300ms ease-in-out;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn-left {
    margin-left: 215px;
    transition: all 300ms ease-in-out;
}

.user-wrapper {
    height: 294px;
    background: #ddd;
    color: #04151F;
    padding: 0px 0px !important;
    margin: 10px 10px;
    box-shadow: 0px 10px 10px -10px #333;
}

.avitar {
    width: 70px;
    height: 70px;
    background: #333;
    border-radius: 50%;
    margin: 0 auto;
}

.user-header {
    background: #ff5252;
    width: 100%;
    height: 120px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.user-content {
    padding: 20px;
}

.user-footer {
    bottom: 30px;
    padding: 0px 15px;
    position: absolute;
}