/* https://dribbble.com/shots/3320987-SaaS-Dashboard-Dark-UI/attachments/718306 */
html, body {
    background: #26303b !important;
    color: #7d8790;
}

.searchnav-wrapper {
    background: #2b3742;
    width: 100%;
    height: 50px;
}

.search-form {
    width: 60%;
    margin: 0 auto;
    padding-top: 5px;
}

.search-input {
    width: 85%;
    background: transparent;
    border: none;
    height: 40px;
    margin-left: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #384451;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #384451;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #384451;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #384451;
}

.search-input:focus {
    outline: none;
}

.container {
    margin-bottom: 60px;
}

.container.login {
    margin-top: 100px;
    width: 53%;
    height: 300px;
    background: #2b3742;
    border-radius: 3px;
}

.btn.btn-primary.login {
    margin-top: 10px;
}

.login-wrapper {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
    background: #2b3742;
}

.menu-header {
    line-height: 3.2em;
    height: 50px;
    width: 100%;
    background: #fa6c42;
    padding: 0px 10px;
    color: #fff;
}

.sidemenu-wrapper ul {
    width: 100%;
    padding-left: 0px !important;
    margin-top: 0px !important;
}

.sidemenu-wrapper ul li {
    list-style: none;
    margin-bottom: 4px;
    margin-left: 0px;
}

.sidemenu-wrapper ul li:hover {
    background: #232b35;
}

.sidemenu-wrapper ul a li {
    color: #fff;
    padding-left: 15px !important;
    height: 45px;
    margin-bottom: 0px !important;
    line-height: 3em;
    border-left: 3px solid transparent;
}

a {
    text-decoration: none;
}

.sidemenu-wrapper ul a li:hover,
.sidemenu-wrapper ul a li:focus,
.sidemenu-wrapper ul a li:active,
.active {
    background: #232b35;
    text-decoration: none;
    border-left: 3px solid #fa6c42 !important;
}

.sidemenu-wrapper {
    position: fixed;
    width: 200px;
    margin-left: -200px;
    height: 100%;
    background: #303b4c;
    z-index: 999;
    transition: all 300ms ease-in-out;
    top: 0;
}

.hide-menu {
    margin-left: 0px;
    transition: all 300ms ease-in-out;
}

.menu-btn {
    margin-top: 16px;
    margin-left: 15px;
    position: fixed;
    transition: all 300ms ease-in-out;
    z-index: 9999;
    top: 0;
}

.menu-item:hover {
    background: #232b35;
    text-decoration: none;
    border-left: 3px solid #fa6c42;
}

.my-icon {
    margin-right: 10px;
}

.menu-btn:hover {
    cursor: pointer;
    color: #fff;
}

.menu-btn-left {
    margin-left: 170px;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.user-wrapper {
    height: 294px;
    background: #2b3742;
    color: #7d8790;
    padding: 0px 0px !important;
    margin: 10px 10px;
}

.avitar {
    width: 70px;
    height: 70px;
    background: #333;
    border-radius: 50%;
    margin: 0 auto;
}

img.adjusted {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.user-header {
    /*background: #ff5252;*/
    /*background-image: url('../imgs/oldschool.png');*/
    width: 100%;
    height: 120px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.user-content {
    padding: 20px;
}

.user-footer {
    bottom: 30px;
    padding: 0px 15px;
    position: absolute;
}

.message-wrapper {
    position: fixed;
    bottom: 0;
    width: 300px;
    height: 400px;
    background: #eee;
    right: 50px;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.minimize {
    height: 50px;
    bottom: 0;
    transition: all 500ms ease-in-out;
}

.chat-header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    padding: 15px;
}

.chat-btn {
    right: 10px;
    padding: 18px 0px;
    position: absolute;
    color: #fff;
    z-index: 9999;
    transform: all 300ms ease-in-out;
}

.chat-btn:hover {
    cursor: pointer;
    color: #ff5252;
}

.smpl-ul {
    width: 100%;
    height: 300px;
    top: 50px;
    position: absolute;
    background: #ddd;
    font-size: 11px;
    overflow-y: scroll;
    overflow: hidden;
}

.smpl-ul>li {
    list-style: none;
    padding: 3px 5px;
    overflow-wrap: break-word;
}

#msg-board {
    margin-top: 350px;
    width: 100%;
}

.msg-input {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 11px;
    background: #eee;
    border: none;
}

.msg-input:focus {
    outline: none;
}

.adduser-wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    background: #2b3742;
    padding: 20px;
}